/* ABOUT US */

.about_us_container{
    margin-top: 6em;
}

.container_badge{
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge{
    max-width: 15.635em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: white;
    padding: 0px 20px;
    border-radius: 10px;
}

.badge .image__badge{
    border-radius: 100%;
    position: absolute;
    top: -50%;
}

.badge .title__badge{
    font-size: 1.9em;
    font-weight: bold;
}   

.wrapper_about_us{
    margin:4em 6.25em 0 6.25em;   
}

.wrapper_about_us .numbers_about_us{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper_about_us .numbers_about_us .counter_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.9em;
}

.wrapper_about_us .numbers_about_us .counter_container .couting_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_about_us .numbers_about_us .counter_container .couting_wrapper p{
    margin: 0;
}

.wrapper_about_us .numbers_about_us .counter_container h3{
    margin-top: 0;
}


/* Responsive */
@media screen and (max-width: 768px) {
    .about_us_container{
        margin-top: 2em;
    }

    .wrapper_about_us{
        margin:4em 2em 0 2em;   
    }

    .wrapper_about_us .numbers_about_us{
        flex-direction: column;
    }

    .wrapper_about_us .numbers_about_us .counter_container .couting_wrapper{
        margin: .2em 0;
    }
}

@media screen and (max-width: 425px) {
    .about_us_container{
        margin-top: 6em;
    }

    .wrapper_about_us .numbers_about_us .counter_container{
        font-size: 1.4em;
    }
}

@media screen and (max-width: 375px) {
    .about_us_container{
        margin-top: 6em;
    }

    .badge .title__badge{
        font-size: 1.5em;
        font-weight: bold;
    }   

    .badge .image__badge img{
        width: 3.75em;
    }

    .wrapper_about_us .numbers_about_us .counter_container{
        font-size: 1em;
    }
}