/* ABOUT US */

.about_us{
    border: 1px red solid;
}

.wraper{
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: white;
    padding: 25px 30px;
    border-radius: 15px;
}

.badge .image__badge{
    position: absolute;
    top: -55px;
}

.badge .title__badge{
    font-size: 30px;
}   