/* ABOUT US */

.about_us_container{
    margin-top: 6em;
}

/* BADGE and TITLE */

.container_badge{
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge{
    max-width: 20em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: white;
    padding: 0px 20px;
    border-radius: 10px;
}

.badge-red{
    max-width: 20em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;
    padding: 0px 20px;
    border-radius: 10px;
}

.badge-red .title__badge{
    font-size: 1.9em;
    font-weight: bold;
} 

.badge .image__badge{
    border-radius: 100%;
    position: absolute;
    top: -50%;
}

.badge .title__badge{
    font-size: 1.9em;
    font-weight: bold;
}   

/* Wrapper */
.wrapper_about_us{
    margin:4em 6.25em 0 6.25em;   
}

/* CONTADOR */

.wrapper_about_us .numbers_about_us{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper_about_us .numbers_about_us .counter_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.9em;
}

.wrapper_about_us .numbers_about_us .counter_container .couting_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_about_us .numbers_about_us .counter_container .couting_wrapper p{
    margin: 0;
}

.wrapper_about_us .numbers_about_us .counter_container h3{
    margin-top: 0;
}

/* GRID */

.grid_container_about_us{
    column-count: 3;
    column-width: 25vw;
    column-gap: 3em;
    
}

.grid_container_about_us figure{
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    margin-bottom: 1em;
}

.caption-style-4 figure{
    position: relative;
	overflow: hidden;
}

.caption-style-4 figure:hover .caption{
    opacity: 1;
}

.caption-style-4 figure:hover img{
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
    -ms-transform:scale(1.15,1.15);
    -o-transform:scale(1.15,1.15);
}

.caption-style-4 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 0;
}

.caption-style-4 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    inset: 0;
    background-color: rgba(0,0,0,0.65);
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
    padding: 0 2em;
}

.caption-style-4 img{
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}

.caption-style-4 .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
}
.caption-style-4 .caption-text{
    z-index: 10;
    color: #fff;
    width: 100%;
    /* text-align: center; */
    font-size: 1.2em;
}

.caption-style-4 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-style-4 .logo img{
    margin-top: 1em;
    width: 3em;
}


/* Nuestros Valores */
.container-valores{
    width: 300px;
    margin: 30px auto;
  }
  .line{
    padding: 5px 0 5px 30px;
    border-left: 3px solid var(--primary-color);
  }
  .line-item{
    text-align: center;
    width:250px;
    padding: 10px;
    border:1px solid var(--primary-color);
    color: var(--secondary-color);
    margin: 20px 0;
    position: relative;
  }
  .line-item:before{
    content: '';
    position: absolute;
    left: -40px;
    top: 7px;
    width: 10px;
    height: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    background-color: var(--primary-color);
  }
  .line-item:after{
    content: '';
    position: absolute;
    left: -18px;
    top: 7px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid var(--primary-color);
  }

  .line-item .line-item--text{
    font-weight: bold;
  }

/* RESPONSIVE */
@media screen and (max-width: 1500px) {
    .wrapper_about_us .numbers_about_us .counter_container{
        font-size: 1.5em;
    }

    .grid_container_about_us {
        display: grid;
        gap: 2;
        grid-template-columns: repeat(2, minmax(16rem, 1fr));
      }

    .caption-style-4 .caption-text{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 768px) {
    .about_us_container{
        margin-top: 2em;
    }

    .wrapper_about_us{
        margin:4em 2em 0 2em;   
    }

    .wrapper_about_us .numbers_about_us{
        flex-direction: column;
    }

    .wrapper_about_us .numbers_about_us .counter_container .couting_wrapper{
        margin: .2em 0;
    }

    /* GRID */
    .grid_container_about_us {
        display: grid;
        gap: 2;
        grid-template-columns: repeat(1, minmax(16rem, 1fr));
    }

    .caption-style-4 .caption-text{
        font-size: 1.4em;
    }
}

@media screen and (max-width: 500px) {
    .about_us_container{
        margin-top: 6em;
    }

    .wrapper_about_us .numbers_about_us .counter_container{
        font-size: 1.2em;
    }
.caption-style-4 .caption-text{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 375px) {
    .about_us_container{
        margin-top: 6em;
    }

    .badge .title__badge{
        font-size: 1.5em;
        font-weight: bold;
    }   

    .badge .image__badge img{
        width: 3.75em;
    }

    .wrapper_about_us .numbers_about_us .counter_container{
        font-size: 1em;
    }

    .caption-style-4 .caption-text{
        font-size: 0.9em;
    }
}