.encuentranos--container{
    margin-top: 6em;
}

.encuentranos--container .encuentranos--map{
    margin: 4em 0.5em;
    min-width: 320px;
    height: 360px;
    border-radius: 8px;
}

.encuentranos--container .encuentranos--container__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
}

.encuentranos--container .encuentranos--container__image img{
    margin-bottom: 1em;
    border-radius: 15px;
    width: 300px;
}

@media screen and (min-width: 689px) {
    .encuentranos--container .encuentranos--container__image{
        flex-direction: row;
        gap: 14rem;
    }
  }

@media screen and (max-width: 1024px) {
    .encuentranos--container .encuentranos--container__image{
        gap: 8rem;
    }
}
