/* RESPONSIVE */

/* FOLD */
@media (max-width: 280px){
    .nav{
        margin: 0.5em !important;
    }

    .nav .container-fluid .navbar-brand img{
        width: 120px !important;
    }

    .header{
        display: none !important;
    }
}

/* Celular */

@media (max-width: 768px) {
    .nav{
        margin: 2em !important;
    }

    .nav .container-fluid .navbar-brand img{
        width: 200px;
    }

    header .header_wrapper h1{
        font-size: 12px;
        margin: 0 !important;
    }
}

/* Tableta */

@media (max-width: 1130px) {
    header .header_wrapper{
        justify-content: center !important;
    }

    .header .header_wrapper h1{
        margin: 0 !important;
    }
    
    header .list_contact{
        display: none !important;
    }
}

/* Portatil L */

@media (max-width: 1440px) {
    .main{
        margin-bottom: 150px;
    }

    .main .main__info{
        max-width: 800px;
    }
}