/* RESPONSIVE */

/* FOLD */
@media (max-width: 280px){
    .nav{
        margin: 0.5em;
    }

    .nav .container-fluid .navbar-brand img{
        width: 120px;
    }

    .header{
        display: none;
    }
}

@media (max-width: 425px){
    .nav{
        margin: 0.5em;
    }

    .nav .container-fluid .navbar-brand img{
        width: 120px;
    }

    .header{
        display: none;
    }
}



/* Celular */

@media (max-width: 768px) {
    .nav{
        margin: 2em;
    }

    .nav .container-fluid .navbar-brand img{
        width: 200px;
    }
}

/* Tableta */

@media (max-width: 1024px) {
    header .header_wrapper{
        justify-content: center;
    }
    
    header .header_wrapper .list_contact{
        display: none;
    }
}
